 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
 }

 body {
     padding: 20px;
     /* display: flex;
            justify-content: center;
            align-items: center; */

 }

 .container {
     border: 1px solid gray;
     width: 350px;
     padding: 10px;
     margin-bottom: 20px;
     background-color: #fff;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }

 .container h2 {
     margin-bottom: 15px;
     font-size: 20px;
     color: #333;
 }


 .products {
     border: 1px solid gray;
     padding: 10px;
     width: 300px;
     margin: 10px 0;
 }

 .products label {
     display: block;
     color: #333;
     margin: 10px 0 5px;

 }

 .products select {
     width: 100%;
     padding: 10px;
     margin-bottom: 10px;
     border: 2px solid #bbb;
     outline: none;
     border-radius: 10px;
     font-size: 14px;
     background-color: #f9f9f9;
 }

 #products {
     margin-top: 20px;
 }

 .products select:focus {
     border-color: #2874f0;
 }

 .item {
     border: 1px solid #bbb;
     width: 330px;
     padding: 15px;
     margin: 10px 0;
     box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.1);
     border-radius: 10px;
     background: white;
     transition: 0.25;

 }

 .item:hover {
     transform: scale(1.02);
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

 }
 .item strong{
    font-weight:bold;
    color: #222;

 }
 .item br{
    margin-bottom: 4px;
 }