  * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      font-family: 'Courier New', Courier, monospace;
  }

  body {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #0d0d0d;
      height: 100vh;

  }

  .form {
      width: 400px;
      background-color: #1a1a1a;
      padding: 25px;
      border-radius: 10px;
      /* box-shadow: 0 0 15px rgba(0,0,0,0.2); */
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);

  }

  h2 {
      margin-bottom: 20px;
      color: #f2f2f2;
      text-align: center;
      letter-spacing: 2px;
  }

  input {
      width: 100%;
      margin: 8px 0;
      padding: 12px;
      color: #333;
      background-color: #0f0f0f;
      border: 1px solid #aaa;
      border-radius: 5px;
      outline: none;
      font-size: 20px;
  }

  input::placeholder {
      color: #888;
  }

  input:focus {
      border-color: #4A90E2;
      /* box-shadow: 0 0 5px rgba(74,144,267,0.4); */
      box-shadow: 0 0 7px rgba(74, 144, 226, 0.6);

  }

  button {
      width: 100px;
      padding: 12px;
      margin-top: 10px;
      background-color: #4A90E2;
      color: #fff;
      cursor: pointer;
      border: none;
      border-radius: 10px;
      font-size: 17px;
      transition: 0.3s;
  }

  button:hover {
      background: #357ABD;

  }

  #error {
      text-align: center;
      /* font-size:20px ; */
      margin-top: 10px;
      font-weight: bold;
      color: #ff4d4d;
  }