* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    background: #f0f4f8;
}

.quiz {
    max-width: 600px;
    background: white;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h5 {
    margin-top: 25px;
    color: #333;
}

label {
    display: block;
    padding: 5px 0;
    font-size: 17px;
}

input[type="radio"] {
    margin-right: 17px;
    transform: scale(1.2);
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    cursor: pointer;
    color: white;
    font-size: 17px;
    /* transform: ; */
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}

#total,
#res,
#res2 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
}